{% extends "base.html" %}

{% block content %}

{% set active_page = "account" %}
{% include "navigation.html" %}

<div class="content-section">

  <form method="POST" action="">
   {{ form.hidden_tag() }}

   <fieldset class="form-group">
     <legend>Change Password</legend>
     <div class="form-group">
       {{ form.current_pass.label(class="form-control-label") }}
       {% if form.current_pass.errors %}
         {{ form.current_pass(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
            {% for error in form.current_pass.errors %}
                <span> {{ error }} </span>
            {% endfor %}
         </div>
       {% else %}
         {{ form.current_pass(class="form-control form-control-lg") }}
       {% endif %}
     </div>

     <div class="form-group">
       {{ form.new_pass.label(class="form-control-label") }}
       {% if form.new_pass.errors %}
         {{ form.new_pass(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
            {% for error in form.new_pass.errors %}
                <span> {{ error }} </span>
            {% endfor %}
         </div>
       {% else %}
         {{ form.new_pass(class="form-control form-control-lg") }}
       {% endif %}
     </div>

   </fieldset>

    <div class="form-group">
   {{ form.submit(class="btn btn-outline-info") }}
    </div>

  </form>

</div>

{% endblock %}
