{% extends "base.html" %}

{% block content %}

{% set active_page = "friends" %}
{% include "navigation.html" %}

    <h2>Friends</h2>
    <a href="{{ url_for('add_friend') }}">
      Find Friends
    </a>
    <a href="{{ url_for('friend_requests') }}">
      View Friend Requests
    </a>

    <br>

    <table class="data-table">
        <tr>
          <th>Username</th>
          <th></th>
        </tr>
        {% for f in friends %}
        <tr>
          <td align="center">{{ f.username }}</td>
          <td align="center">
            <a href="{{ url_for('unfriend', user_id=f.id) }}">
                Unfriend
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}