
  {% set navigation_bar = [
    ('index', 'index', 'Home')
  ] -%}

  {% set active_page = active_page|default('index') -%}

  <div class="topnav">

    {% for id, route, caption in navigation_bar %}
    <a {% if id == active_page %} class="active" {% endif %} href="{{ url_for(route) }}"> {{ caption|e }}</a>
    {% endfor %}

    {% if current_user.is_authenticated %}
      <a class="right" href="{{ url_for('logout') }}"> logout</a>
      <a class=" {% if active_page == "account" %} active-right {% else %} right {% endif %}" href="{{ url_for('account') }}"> Account</a>
      <a class=" {% if active_page == "friends" %} active-right {% else %} right {% endif %}" href="{{ url_for('friends') }}"> Friends</a>
    {% else %}
      <a class=" {% if active_page == "login" %} active-right {% else %} right {% endif %}" href="{{ url_for('login') }}"> Login</a>
      <a class=" {% if active_page == "register" %} active-right {% else %} right {% endif %}" href="{{ url_for('register') }}"> Register</a>
    {% endif %}
  </div>

